* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Georgia,serif;
}

a {
    color: black;
}

a:visited {
    color: gray;
}

.layout-block {
    background-color: #eae7df;
}

.layout-block h1 {
    font-size: xx-large;
    margin-bottom: 15px;
}

.layout-block h2 {
    font-size: medium;
    color: #363333;
}

#header {
    padding: 10px 40px;
}

#topbar {
    background-color: black;
    padding-left: 30px;
}

#topbar ol li {
    display: inline;
    padding: 0px 10px;
}

#topbar ol li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

#sidebar {
    float: right;
    width: 19%;
    padding-top: 10px;
}

#sidebar ol {
    list-style: none;
    font-size: small;
}

#sidebar .sidebar-entry {
    margin-bottom: 30px;
}

#sidebar .sidebar-entry h2 {
    margin-bottom: 5px;
}

#sidebar p {
    padding-right: 2px;
}

#sidebar ol li {
    margin-bottom: 2px;
}
