<!-- Google custom search form -->
<div id="cse" style="width: 100%;">Loading</div>
<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script type="text/javascript">
  google.load('search', '1', {language : 'en', theme: null });
  google.setOnLoadCallback(function() {
    var customSearchControl = new google.search.CustomSearchControl(
      '012184419941352214557:rhnrabjbsyg');

    customSearchControl.setResultSetSize(google.search.Search.SMALL_RESULTSET);
    customSearchControl.draw('cse');
  }, true);
</script>
<link rel="stylesheet" href="/css/google_search.css" type="text/css"/>
