<!DOCTYPE html>

<html>
<head>
    <title>might as well hack it {% if page.type != "page" %} | {{ page.title }} {% endif %}</title>
    <meta name="author" content="Guilherme P. Gonçalves"/>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <link rel="stylesheet" href="/css/default.css" type="text/css"/>
    <link rel="stylesheet" href="/css/syntax.css" type="text/css"/>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/hjkl.js"></script>

    <!-- Google Analytics code -->
    <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-28985015-1']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    </script>
</head>
<body>
    <!-- Top header and navigation bar -->
    <div id="header" class="layout-element">
        <h1>might as well hack it</h1>
        <h2>the good, the bad and the pointless</h2>
    </div>

    <div id="topbar">
        <ol>
            <li><a href="/">Home</a></li>
            <li><a href="/about.html">About</a></li>
            <li><a href="/tags.html">Tag index</a></li>
        </ol>
    </div>

    <!-- Sidebar -->
    <div id="sidebar" class="layout-element">
        <ol>
            <li class="sidebar-entry">
                <h2>whoami</h2>
                <img src="/img/me.jpg"/>
                <p>
                I'm <a href="/about.html">Guilherme P. Gonçalves</a> and this is
                my blog, where I'll write not so regularly about the cool stuff
                I'm passionate about: free software, algorithms, my projects and
                whatnot.
                </p>
            </li>

            <li class="sidebar-entry">
                <h2>Search posts</h2>
                {% include google_search.html %}
            </li>

            <li class="sidebar-entry">
                <h2>Latest posts</h2>
                    <ol>
                        {% for p in site.posts limit: 3 %}
                            <li><a href="{{ p.url }}">{{ p.title}}</a></li>
                        {% endfor %}
                    </ol>
            </li>

            {% if page.type != "page" %}
                <li class="sidebar-entry">
                    <h2>Related posts</h2>
                        <ol>
                            {% for p in site.related_posts limit: 5 %}
                                <li><a href="{{ p.url }}">{{ p.title}}</a></li>
                            {% endfor %}
                        </ol>
                </li>
            {% endif %}

            <li class="sidebar-entry">
                <h2>Follow me</h2>
                <a href="/feed.rss"><img src="/img/rss-icon.png"/></a>
            </li>
        </ol>
    </div>

    <!-- Page contents -->
    <div id="content">
        <h1><a href="{{ page.url }}">{{ page.title }}</a></h1>
        {% if page.type == "page" %}
            <h2>{{ page.subtitle }}</h2>
        {% else %}
            <h2>Published {{ page.date | date_to_string }}</h2>
        {% endif %}
        <br/>

        {{ content }}

        {% if page.type != "page" %}
            <br/>
            <a id="comments-toggle" href="#comments"><em>Toggle Comments</em></a>
            {% if page.tags.size > 0 %}
                <div id="tags">
                    <em>Tags:</em>
                    <ul>
                        {% for tag in page.tags %}
                            {% assign url = "/tags.html" %}

                            {% if forloop.last %}
                                <li class="last">
                            {% else %}
                                <li>
                            {% endif %}

                            <a href="{{ url | append: '#' }}{{ tag | replace: ' ','-' }}">{{ tag }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            {% include disqus_thread.html %}

            {% comment %}
                Add links to previous and next post, unless this is a page.
            {% endcomment %}

            {% assign previous = null %}
            {% assign next = null %}
            {% assign last = null %}

            {% for p in site.posts %}
                {% if page.id == p.id %}
                    {% assign next = last %}
                {% endif %}

                {% if page.id == last.id %}
                    {% assign previous = p %}
                {% endif %}

                {% assign last = p %}
            {% endfor %}

            {% if next != null %}
                <a id="next" class="navlink" href={{next.url}}>Next</a>
            {% endif %}

            {% if previous != null %}
                <a id="previous" href={{previous.url}}>Previous</a>
            {% endif %}

        {% endif %}
    </div>
</body>
</html>
